* {
	margin:0;
	padding: 0;
	font-family: Raleway;
}

@font-face {
	font-family: Hijrnotes; src: url("hijrnotes/Hijrnotes.ttf");

}

@font-face {

	font-family: AntroVectra; src: url("antro_vectra/Antro_Vectra.otf")
}

@font-face {

	font-family: Sanseriffic; src: url("sanseriffic/Sanseriffic.otf")
}

#star1 {
    position: absolute;
    top:3px;
    left:100px;
    width: 100%;
    display: block;
}

#star2 {
    position: absolute;
    top:3px;
    left:100px;
    width: 100%;
    display: block;
}

#star3 {
    top:3px;
   position: absolute;
    left: 100px;
    width: 100%;
    display: block;
}

#star4 {
    top:3px;
   position: absolute;
    left: 100px;
    width: 100%;
    display: block;
}

.fa{
    color:rgba(255,255,255,0.8);
    font-size: 1.3em;
		display: none;
}




body {

    background: url("Bilder/background.png"); /*url("Bilder/zig zag wool.png")*/
		background-size:cover;
		background-repeat: no-repeat;
}

.headerContent{
	position: relative;
	top:200px;
    width:160px;
    margin: auto;
	font-size: 0.5em;
}

.headerContent img {
	position: relative;
	display: block;
	margin:auto;
	width: 160px;
	border-radius: 100%;
	z-index: 2;
	box-shadow: 0 0 0px 5px #F5FF00/*#C06C84*/;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.headerContent ul.meny{
	top:40px;
	right: 0;
	width: 40%;;
	position: absolute;
    margin-right: 80px;
    transition-property: width;
    transition-duration: 1s;
}

.headerContent ul.meny li{
	position: relative;
	display: block;
	padding: 10px 0;
    text-align: left;
    padding-left: 30px;

}

.meny a{
	padding:20px 0 ;
	padding-right: 40px;
}

#shine{
    width:160px;
    height: 160px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 900px 10px rgba(255,255,255,0.3);
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    border-radius: 100%
}

#container {
    position: relative;
    top:250px;
    display: flex;
    margin: auto;
    width:80%;
        background:rgba(0,0,0,0.1);
    display: ;
    color:rgba(255,255,255,0.8);
    margin-bottom: 50px;
    overflow: hidden;
    height: 0;
    transition-property: height;
    transition-duration: 1s;
}


#container div#forsta {
    position: absolute;
    width:100%;
  background: #C06C84;
    height: 10px;
    transform: skewX(-20deg);

}

#container div#andra {
    position: absolute;
    width:100%;
   background:#C06C84;
    height: 10px;
    bottom:0;
    transform: skewX(-20deg);

}

#container p {
       padding: 20px;
    text-align: center;


}

#projectsContainer, #aboutContainer, #contactContainer{

    display: none;

}


#about{
	position: relative;
	padding-right: 120px;
	background: #F5FF00;/*#C06C84;*/
    transform: skewX(-10deg);
    transition: transform;
    transition-duration: 0.4s;

}

#about:hover {
    transform: translateX(-20px) skewX(-10deg);
		color:rgba(255,255,255,0.7)
}

#projects:hover {
    transform: translateX(-20px) skewX(10deg);
		color:rgba(255,255,255,0.7)

}
#contact:hover {
    transform: translateX(-20px) skewX(-10deg);
			color:rgba(255,255,255,0.7);

}




#projects{
	padding-right: 130px;
	background: rgba(0,0,0,0.2); /*#F67280;*/
        transform: skewX(10deg);
    transform-style: background;
     transition: transform;
    transition-duration: 0.4s;
}



#contact{
	padding-right: 110px;
	background: rgba(0,0,0,0.2) /*#F8B195*/;
        transform: skewX(-10deg);
             transition-property: transform;
    transition-duration: 0.4s;

}

.skills{
	position: absolute;
	top:20px;
	left:20px;
    margin-left: 0px;


}



.skills li {
	position: relative;
	display: block;
	padding:5px 0;
	border-radius: 0 30px 30px;;
    text-align: right;
    padding-right: 20px;
    font-size: 0.8em;

	color:rgba(255,255,255,0.5);

}

#html{
    width: 0%;
	padding-left:90px;
	background: red;
	background: rgba(255,255,255,0.2) /*#C06C84*/;
       transition-property: width;
    transition-duration: .6s;
    transition-delay: 0.5s;

    transition-timing-function: ease-in-out;

}

#css{
    width:0%;
	padding-left: 100px;
    transition-property: width;
    transition-duration: 0.6s;
    transition-delay: 1s;
	background: green;
	/* background: #F67280; */
	background: rgba(255,255,255,0.2);
        transition-timing-function: ease-in-out;


}



#javascript{
    width: 0%;
      transition-property: width;
    transition-duration: 0.6s;
	padding-left: 90px;
	/* background: #F8B195; */
	background: rgba(255,255,255,0.2);
        transition-timing-function: ease-in-out;

    transition-delay: 1.5s;

}

#react{
    width: 0%;
      transition-property: width;
    transition-duration: 0.6s;
	padding-left: 90px;
	/* background:#65799B; */
	background: rgba(255,255,255,0.2);
        transition-timing-function: ease-in-out;

    transition-delay: 2s;

}
a {
	color:white;
	text-shadow: 0 0 5px rgba(0,0,0,0.6);
	text-decoration: none;
}



header{
	height: 100vh;
	width: 100%;
	background-size: cover;
}


#frontend{
    position: relative;
    top:200px;
    color:rgba(255,255,255,0.9);
    display: block;
    margin: auto;
    text-align: center;
    width:500px;
    padding:20px;
    border:2px solid rgba(255,255,255,0.9);
    opacity: 0;
    transition-property: opacity;
    transition-delay: 4s;
    transition-duration: 1s;
		font-size: 0.7em;
		display: none;
}

h1 {

		font-family: arial;
				color:#453246;
				font-size: 3em;
				position: relative;
				top: 30px;
				text-align:center;
}

h1#frontend{
	font-family: Sanseriffic;
	margin-top: 50px;
    color:rgba(255,255,255,0.7);
	background: rgba(69, 50, 70,0.5);

;
}

h1#namn {
	font-family: Hijrnotes;
}


@media (min-width:500px){


	.headerContent img {

		width: 250px;

	}


	.headerContent{

	    width:250px;

	}

	.skills{
		left:95px;
	}



	.skills li {

		color:rgba(255,255,255,0.8);

	}

	.headerContent ul.meny{
		top:100px;
		font-size: 1.3em;



	}

#shine {
	width:250px;
	height: 250px;
}

    #star1 {
    position: absolute;
    top:3px;
    left:100px;
    width: 100%;
    display: none;
}

#star2 {
    position: absolute;
    top:3px;
    left:100px;
    width: 100%;
    display: none;
}

#star3 {
    top:3px;
   position: absolute;
    left: 100px;
    width: 100%;
    display: none;
}

    #star4{
            display: none;

    }
}

@media (min-width:700px){

	.headerContent img {

		width: 450px;

	}


	.headerContent{

	    width:450px;

	}

	.skills{
		left:220px;
	}

	.skills li {
		font-size: 1.4em;
	}


	.headerContent ul.meny{
		top:260px;
		font-size: 1.5em;
		padding-right: 60px;



	}

	.headerContent ul.meny li{
		position: relative;
		display: block;
		padding: 20px 0;
	    text-align: left;
	    padding-left: 50px;

	}

	.meny a{
		padding:20px 0 ;
		padding-right: 40px;
	}
}
